@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap');

:root {
  --clr-main: #201907;
  --clr-primary: #DAA92F;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

em {
  font-family: 'Open Sans';
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  position: relative;
}

header {
  position: relative;
  z-index: 9;
  height: 63.1rem;
}

.container {
  /* padding: 20px; */
  margin: 0 auto;
  max-width: 100vw;
  width: 100%;
}

.fixed {
  position: fixed;
  background: #fff;
}

nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow-y: hidden;
  padding: 10px 20px;
}

.logo {
  height: 80px;
}

.nav-ul {
  display: none;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding: 0;
  list-style: none;
}

.show {
  display: flex;
  position: fixed;
  top: 10%;
  right: 0;
  margin-top: 24px;
  height: 100vh;
  background: #fff;
  z-index: 1;
  overflow-y: hidden;
}

.hamburger {
  background-color: transparent;
  border: 0;
  color: #101011;
  font-size: 20px;
  padding-right: 16px;
  cursor: pointer;
}

.hamburger:focus {
  outline: none;
}

.nav-ul li a {
  display: inline-block;
  color: #30355F;
  padding: 10px 20px;
  text-decoration: none;

}

.nav-ul li a:hover {
  color: #DAA92F;
}

.nav-ul li:last-child {
  border: 2px solid #FDC456;
  border-radius: 18px;
}

.nav-ul li:last-child a {
  color: #FDC456;
}

main {
  display: flex;
  flex-direction: column;
}

main .hero {
  text-align: center;
}

main div h1 {
  margin: 17% 0;
}

main div h1 span:last-child {
  color: var(--clr-primary)
}

main div p {
  font-size: 18px;
  margin: 16px 32px;
  font-weight: 700;
}

.welcome-img {
  margin-top: 22px;
  padding: 0 20px;
  height: 451px;
}

.not-visible {
  display: none;
}

.btn {
  padding: 16px 16px;
  cursor: pointer;
  outline: 0;
  font-size: 14px;
  font-weight: 700;
}

.program-btn {
  background-color: var(--clr-primary);
  border: 1px solid var(--clr-primary);
  color: white;
  text-transform: uppercase;
}

.program-btn:hover {
  color: #DAA92F;
  background: #fff;
  border: 2px solid #DAA92F;
}

.contact-btn {
  background-color: #fff;
  border: 1px solid var(--clr-primary);
  margin-left: 16px;
  color: var(--clr-main);
  outline: 0;
  text-transform: uppercase;
}

.about-us {
  position: relative;
  width: 100%;
  background-color: #FFF3D4;
  z-index: 4;
}

.stats {
  width: 80%;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: -3%;
  text-align: center;
  border-radius: 100px;
  border: 2px solid #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  /* margin-top: -40px; */
}

.stats h2 {
  font-weight: 700;
  color: #DAA92F;

}

.stats span {
  color: var(--clr-main);
  font-size: 13px;
  padding: 10px;

}

.about-us .about {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin-bottom: 30px;
  padding: 70px 30px 30px 30px;

  color: #03043C;
  line-height: 1.4;
}

.about-img-container {
  position: relative;
}

.about-img {
  height: 300px;
  position: relative;
  width: 100%;
  margin-top: 10%;
  z-index: -1;
}

.play-button {
  position: absolute;
  cursor: pointer;
  color: #DAA92F;
  font-size: 24px;
  padding: 20px 24px;
  top: 48%;
  right: 42%;
  border-radius: 50%;
  z-index: 9;
}

.goal {
  display: flex;
  align-items: start;
  flex-direction: row;
  margin: 20px 0px
}

.goal img {
  width: 22px;
}

.goal p {
  margin-left: 16px;
  font-weight: 600;
}

.choose {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 20px 20px 20px;
}

.choose-img {
  display: none;
}

.choose-body {
  margin-top: 7%;
  width: 100%;
}

.choose-body h1 {
  font-size: 24px;
  font-weight: 700;
}

.choose-content {
  display: flex;
  align-items: start;
  margin: 36px 10px;
}

.choose-content div {
  margin: 10px;
}

.choose-content h4 {
  margin-top: -10px;
  margin-bottom: 8px;
  font-size: 16px;
}

.programmes {
  position: relative;
  margin-bottom: 126px;
}

.programmes-bg {
  width: 100%;
  position: relative;
  margin-top: -38px;
  height: 250px;
  z-index: -2;
}

.programmes h1 {
  position: absolute;
  top: 3%;
  right: 14%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.programmes h1 span {
  display: block;
  text-align: center;
  margin-bottom: 20px;
  color: white;
}

.programmes .shape1 {
  display: none;
}

.cards {
  margin-top: 13px;
}

.card {
  display: flex;
  border: 2px solid #fff;
  background: #fff;
  border-radius: 16px;
  margin-bottom: 16px;
  padding: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.card img {
  height: 145px;
  object-fit: cover;
  border-radius: 8px;

}

.card-content {
  margin: 15px;
}

.card-content h4 {
  font-size: 20px;
  font-weight: 500;
  color: #252F40;
}

.card-content h5 {
  margin-top: 2px;
  font-weight: 500;
  color: #47BFB5;
  font-size: 16px;
}

.card-content p {
  font-size: 13px;
  padding-top: 10px;
  color: #67748E;
}

/* .programmes h1 {
  position: absolute;
  top: 14.1%;
  right: 11%;
} */



.programmes .cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #101011;
}

.programmes .cards:first-of-type .for:first-of-type {
  border-radius: 16px;
  width: 270px;
  height: 230px;
  margin-top: 1%;
}

.html {
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #fff;
  background-color: #fff;
  border-radius: 50%;
  margin-top: -60px;
  padding: 14px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  max-width: 100px;
}

/* .programmes h1{
  color: #201907;
  position: absolute;
} */
.programmes .card {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 220px;
  width: 220px;
  color: #03043C;
  margin-bottom: 32px;
}

.programmes .card img {
  width: fit-content;
  height: 58px;
  border-radius: 0;
}

.programmes .card h4 {
  text-align: center;
  padding: 10px;
}

.programmes p {
  font-size: 14px;
  text-align: center;
  padding: 8px 10px;
}

.events {
  margin-top: 13%;
  width: 100%;
  position: relative;
  color: #101011;
}

.events .container {
  display: flex;
  line-height: 1.6;
  justify-content: space-between;
}

.events h1 {
  position: absolute;
  top: -9%;
  font-size: 30px;
  font-weight: 700;
  left: 27%;
}

.events-shape {
  display: none;
  position: absolute;
  height: 400px;
  top: -45%;
  z-index: -1;
}

.event {
  display: flex;
  align-items: start;
  padding: 20px 10px;
}

.event div {
  margin-left: 8px;
}

/* .event p {
  line-height: 1.6;
} */
.hidden {
  display: none;
}

.instructors {
  background: url('/img/Vector.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  padding-top: 80px;
  background-size: cover;
  position: relative;
  color: #fff;
}

.instructors h1 {
  font-size: 28px;
  margin-top: -8%;
  float: right;
}

.instructor-cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 40px;
  clear: both;
  margin-top: 3%;
}

.instructor-card {
  background-color: #fff;
  width: 65%;
  padding: 9px;
  margin: 8px auto;
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

/* .instructor-card img{
 
} */
.instructor-card p:first-of-type {
  color: #101011;
  font-size: 15px;
  font-weight: 600;
  margin: 8px 0 4px 0;
}

.instructors p {
  color: #DAA92F;
}

/* .cards {
  margin-top: 60px;
}

.card {
  display: flex;
  border: 2px solid #fff;
  background: #fff;
  border-radius: 16px;
  margin-bottom: 16px;
  padding: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.card img {
  height: 145px;
  object-fit: cover;
  border-radius: 8px;

}

.card-content {
  margin: 15px;
}

.card-content h4 {
  font-size: 20px;
  font-weight: 500;
  color: #252F40;
}

.card-content h5 {
  margin-top: 2px;
  font-weight: 500;
  color: #47BFB5;
  font-size: 16px;
}

.card-content p {
  font-size: 13px;
  padding-top: 10px;
  color: #67748E;
} */

.contact {
  display: flex;
  flex-direction: column;
}

.contact .container .sub-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 100vw;
}

.contact .body {
  display: flex;
  align-items: start;
  width: 100%;
  margin: 20px 0;
}

.contact .body img {
  width: 20px;
}

.contact .body p {
  margin-left: 10px;
}

.contact h1 {
  font-size: 28px;
}

.contact-form {
  margin-top: 10%;
}

.contact-form h3 {
  text-align: center;
  font-size: 16px;
}

.contact-form form input {
  display: block;
  color: var(--clr-main);
  width: 100%;
  margin: 24px auto;
  padding: 14px;
}

.contact-form form textarea {
  display: block;
  width: 100%;
}

.contact-form form button {
  background-color: #DAA92F;
  margin: 20px auto;
  padding: 10px;
  text-transform: uppercase;
  width: 100%;
  font-size: 16px;
  border: 0;
  /* outline: 0; */
  color: #fff;
}

.contact-shape {
  display: none;
}

footer {
  background-image: url(../img/footer.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  padding: 90px 40px 48px 40px;
}

.tabs {
  display: flex;
  align-content: center;
  flex-direction: column;
}

.partner {
  display: flex;
}

.powered {
  margin-left: 8px;
}

.powered .text2 {
  font-size: 18px;
  font-weight: 700;
}

.sitemap_socials {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.sitemap {
  margin: 2rem 0.5rem 1rem 0.5rem;
  font-size: 14px;
}

.socials {
  margin: 1rem 0.5rem;
  font-size: 14px;
}

.office {
  margin: 1rem 0.5rem;
  font-size: 14px;
}

.address {
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
}

.newsletter {
  margin-top: 0.8rem;
}

.email_input {
  position: relative;
}

.newsletter input {
  margin-top: 10px;
  width: 100%;
  padding: 0.8rem 0.5rem;
  background: transparent;
  border: 0;
  color: #fff;
  border-bottom: 1px solid #fff;
  outline: 0;
  -webkit-transition: border-color 0.2s;
  transition: border-color 0.2s;
}

.newsletter input::placeholder {
  color: #fff;
}

.mail-icon {
  position: absolute;
  right: -3px;
  top: 10px;
  background: #fff;
  border-radius: 50%;
  padding: 10px 12px;
  color: #201907;
}

.tabs ul {
  list-style: none;
}

.tabs ul li {
  margin: 12px auto;
  font-weight: 400;
}

.tabs ul li a {
  color: #fff;
  text-decoration: none;
}

.tabs ul li a:hover {
  color: #ccc;
}

.final {
  margin: 8px 32px;
}

.final p {
  text-align: center;
  margin: 0.5rem 0;
}


.scroll-btn {
  display: none;
  position: fixed;
  top: 90%;
  right: 20px;
  border: #ccc;
  color: #201907;
  border-radius: 50%;
  padding: 15px 18px;
}

/* The Projects Modal */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  color: #201907;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
  border-radius: 20px;
  position: relative;
}

.modal-content h1 {
  position: relative;
  float: right;
  margin-right: 53px;
  z-index: 3;
}

.modal-content h1 span {
  display: block;
}

/* The Close Button */
.close {
  color: #DAA92F;
  text-transform: uppercase;
  font-size: 16px;
  background-color: #fff;
  padding: 12px 40px;
  border: 2px solid #DAA92F;
}

.close:hover,
.close:focus {
  color: #fff;
  background-color: #DAA92F;
  text-decoration: none;
  cursor: pointer;
}
.modal-image{
  position: absolute;
  top: 0;
  right: 0;
  height: 400px;
  
}
/* Style the tab */
.tab {
  overflow: hidden;
  clear: both;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  color: #201907;
  font-size: 16px;
  font-weight: 700;
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 8px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  color: #DAA92F;
}

/* Create an active/current tablink class */
.tab button.active {
  color: #DAA92F;
  border-bottom: 3px solid #DAA92F;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  margin-top: 3%;
  line-height: 1.5;
}

.tabcontent {
  animation: fadeEffect 1s;
  /* Fading effect takes 1 second */
}

.tabcontent p:first-of-type {
  font-size: 13px;
  margin: 10px auto;
}

.tabcontent p:last-of-type {
  width: 60%;
  margin: 40px 0;
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media only screen and (min-width: 768px) {
  header {
    height: unset;
  }

  nav {
    display: flex;
    align-items: center;
    padding: 10px 0px 15px 0px;
  }

  .logo {
    height: 100px;
  }

  nav img,
  nav ul {
    margin: 10px 78px;
  }

  .nav-ul {
    display: flex;
    width: fit-content;
    flex-direction: row;
    align-items: center;
    padding: 0;
    list-style: none;
  }

  .hamburger {
    display: none;
  }

  .nav-ul li:last-child {
    margin-left: 74px;
    border: 0;
    border-radius: 8px;
    padding: 4px 16px;
    background-color: #fff;
    text-transform: uppercase;
  }

  .nav-ul li a {
    display: inline-block;
    color: #30355F;
    padding: 10px 20px;
    text-decoration: none;
  }

  main {
    position: relative;
    display: block;
    height: 580px;
    width: 100%;
  }

  main .hero {
    text-align: initial;
    margin-left: 90px;
    margin-top: 5rem;
  }

  main div h1 {
    font-size: 40px;
    font-weight: 800;
    width: 35%;
    line-height: 1.2;
    margin: 0;
  }


  main div p {
    font-size: 18px;
    width: 32%;
    margin: 16px 0;
    font-weight: 700;
  }

  .welcome-img {
    height: 817px;
    position: absolute;
    width: 39%;
    top: -45%;
    right: 0;
    z-index: -9;
    padding: 0;
  }


  .not-visible {
    display: block;
  }

  .remove {
    display: none;
  }

  /* main {
    margin-top: 90px;
    position: relative;
    padding-left: 80px;
    padding-right: 60px;
    padding-bottom: 80px;
    overflow: hidden;
  }
  main div{
    width: 50%;
  }
  main span {
    padding: 6px;
    font-size: 40px
  }

  main p span:nth-of-type(2) {
    color: #47BEB4;
  }

  main p {
    margin-bottom: 28px;
    margin-top: 0px;
    margin-left: 32px;
  } */
  main .hero-btns {
    margin-top: 7%;
  }

  .btn {
    padding: 16px 32px;
    cursor: pointer;
    font-size: 16px;
  }

  .stats {
    width: 43%;
  }

  .about-us .about {
    flex-direction: row;
    justify-content: space-between;
    padding: 12% 50px 30px 50px;
    line-height: 1.8;
  }

  .about-img {
    height: 500px;
    width: unset;
    margin-top: 0%;
  }

  .about h3 {
    font-size: 20px;
  }

  .about .description {
    width: 65%;
  }

  .about .description:last-child {
    width: 90%;
  }

  .goals {
    justify-content: center;
    width: 63%;
  }

  /* .about-us p {
    width: 90%;
  } */
  .choose {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding: 50px;
  }

  .choose-img {
    display: block;
    width: 100%;
    object-fit: contain;
  }

  .choose-body {
    margin-top: 7%;
    width: 48%;
  }

  .choose-content {
    display: flex;
    align-items: start;
    margin: 36px;
  }

  .choose-content h4 {
    font-size: 15px;
  }

  .programmes {
    margin-bottom: 111px;
  }

  .programmes .shape1 {
    display: block;
    position: absolute;
    height: 480px;
    right: 0;
    top: 0;
    z-index: -1;
  }

  .cards {
    margin-top: 60px;
  }

  .programmes h1 {
    position: absolute;
    top: 19%;
    right: 5%;
    color: #201907;
  }

  .programmes h1 span {
    display: block;
    margin-bottom: 20px;
    text-align: center;
    color: white;
  }

  .programmes .cards {
    width: 85%;
    display: flex;
    margin-left: 28px;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
  }

  .programmes .cards:first-of-type {
    margin-top: -9%;
  }

  /* .programmes .cards:first-of-type .for:nth-of-type(1) {
    margin-top: 38px;
    margin-right: -95px;
    order: 4;
  } */

  .programmes .cards:first-of-type {
    order: 1;
    border-radius: 16px;
    margin-top: 39px;
  }

  .programmes p:first-of-type {
    font-size: 13px;

  }

  .html {
    border: 2px solid #fff;
    background-color: #fff;
    border-radius: 50%;
    margin-top: -60px;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }

  .html img {
    height: 50%;
  }

  .for span {
    display: block;
    padding-bottom: 16px;
  }

  .events h1 {
    position: absolute;
    top: -14%;
    font-size: 30px;
    font-weight: 700;
    left: 12%;
  }

  .events h1 span {
    display: block;
  }

  .events .container {
    width: 79%;
    margin-left: 13%;
    flex-direction: row;
    justify-content: space-between;
  }

  .events-shape {
    display: block;
  }

  .hidden {
    display: block;
    height: 560px;
  }

  .instructors {
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 35%;
    height: 500px;
    padding-top: 10%;
  }

  .instructor-cards {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    margin: 30px;
  }

  .instructor-card {
    width: 74%;
    padding: 10px;
  }
  .instructor-card img{
    width: 250px;
  }
  .contact {
    margin-top: 10%;
  }

  .contact .container {
    position: relative;
  }

  .contact .container .sub-content {
    width: 80%;
    margin: 0 0 0 15%;
    flex-direction: row;
  }

  .contact .body {
    width: 90%;
  }

  .contact .details {
    width: 80%;
  }

  .contact h1 {
    margin-left: -5%;
  }

  .contact-form {
    width: 70%;
    margin-top: 0%;
  }

  .contact-shape {
    display: block;
    position: absolute;
    top: -15%;
    height: 400px;
    width: 180px;
  }

  .tabs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 60px;
  }

  .partner {
    display: flex;
    justify-content: space-between;
  }

  .powered {
    margin-left: 8px;
  }

  .powered .text2 {
    font-size: 18px;
    font-weight: 700;
  }

  .sitemap_socials {
    justify-content: space-around;
  }

  .sitemap {
    margin: 0rem;
    font-size: 14px;
  }

  .socials {
    margin: 0rem;
    font-size: 14px;
  }

  .office {
    width: 30%;
    margin: 0rem;
    font-size: 14px;
  }

  .tabs ul {
    list-style: none;
  }

  .tabs ul li {
    margin: 12px auto;
    font-weight: 400;
  }

  .scroll-btn {
    display: none;
    padding: 15px 18px;
  }
}